# here we keep the names of the keys as we can use them due to the fact that actual .env will move to .gitignore

VITE_APPWRITE_URL = ""
VITE_APPWRITE_PROJECT_ID = ""
VITE_APPWRITE_DATABASE_ID = ""
VITE_APPWRITE_COLLECTION_ID = ""
VITE_APPWRITE_BUCKET_ID = ""